.list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.link {
  text-align: left;
  font: normal 1rem/1.5rem Noto Sans, sans-serif !important;
  letter-spacing: 0rem;
  color: #1f343e;
}
