.container {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4eb3e3 0% 0% no-repeat padding-box;
  border: 1px solid #1f343e;
  border-radius: 8px;
  transition: background-color 0.25s ease-in-out 0s;
  will-change: background-color;

  &:hover {
    background-color: rgb(248, 204, 93);
  }
}

.logo {
  margin-top: 4px;
}
