.inputContainer {
  display: flex;
  align-items: center;
}

.iconContainer {
  display: flex;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

.text {
  text-align: left;
  font: bold 1rem/1.5rem Noto Sans Bold, sans-serif !important;
  letter-spacing: 0rem;
  color: #1f343e;
}

.capitalize {
  text-transform: capitalize;
}
