.inputContainer {
  display: flex;
  align-items: center;
}

.iconContainer {
  display: flex;
  justify-content: center;
  height: 32px;
  width: 32px;
  margin-right: 16px;
}

.text {
  text-align: left;
  font: normal normal bold 16px/24px Noto Sans;
  letter-spacing: 0px;
  color: #1f343e;
}

.capitalize {
  text-transform: capitalize;
}
