.button {
  width: 19.5rem;
  height: 5rem;
  color: #f8f4f9;
  background: #45565e 0% 0% no-repeat padding-box;
  border: 0.0625rem solid #1f343e;
  border-radius: 1rem;
  cursor: pointer;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.image {
  display: flex;
  margin-left: 1.5rem;
  align-items: center;
}

.textbox {
  margin-left: 1.25rem;
}

.small {
  margin: 0;
  padding: 0;
  text-align: left;
  font: normal 1rem Noto Sans, sans-serif !important;
  letter-spacing: 0rem;
  color: #f8f4f9;
}

.bold {
  margin: 0;
  padding: 0;
  text-align: left;
  font: bold 1.25rem/1rem Gadugi;
  letter-spacing: 0rem;
  color: #f8f4f9;
}
