.navbar {
  width: 100%;
  height: 4.625rem;
  border: 0.0625rem solid #1f343e;
  background: #ffffff 0% 0% no-repeat padding-box;
}

.wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: 0 auto;
  max-width: 70rem;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: block;
  margin-top: 0.5rem;
}

.capitalize {
  text-transform: capitalize;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menuButtonContainer {
  display: none;
  height: 100%;
  width: 1.875rem;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menuToggle {
  display: none;
}

.menuButton,
.menuButton::before,
.menuButton::after {
  display: block;
  background-color: #bdc1c3;
  border: 0.0625rem solid rgb(0, 0, 0);
  position: absolute;
  height: 0.3rem;
  width: 1.125rem;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 0.125rem;
}

.menuButton::before {
  content: "";
  margin-top: -0.5rem;
}

.menuButton::after {
  content: "";
  margin-top: 0.4rem;
}

.menuToggle:checked + .menuButtonContainer .menuButton::before {
  margin-top: 0rem;
  transform: rotate(405deg);
  width: 1.5625rem;
}

.menuToggle:checked + .menuButtonContainer .menuButton {
  background: rgb(255, 255, 255);
  border: #bdc1c3;
}

.menuToggle:checked + .menuButtonContainer .menuButton::after {
  margin-top: 0rem;
  transform: rotate(-405deg);
  width: 1.5625rem;
}

.menuToggle:checked + .menuButtonContainer .navbar {
  border: none;
}

@media (max-width: 70rem) /* 1120px */ {
  .wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .menuButtonContainer {
    display: flex;
    margin-top: 0.1rem;
  }

  .menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 73px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: none;
    border-right: 0.0625rem solid #1f343e;
    border-bottom: 0.0625rem solid #1f343e;
    border-left: 0.0625rem solid #1f343e;
  }

  .menuToggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menuToggle:checked ~ .menu li {
    height: 3em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu > li {
    display: flex;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
  }
}
