.container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 11.9375rem;
  max-width: 28rem;
  grid-column-gap: 3.5rem;
  -moz-column-gap: 3.5rem;
  column-gap: 3.5rem;

  &:first-child {
    width: 100%;
    height: 9.9375rem !important;
  }
  &:nth-child(2) {
    flex-direction: row-reverse;
  }
}

.title {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: left;
  font: bold 1.25rem/2rem Noto Sans Bold, sans-serif !important;
  letter-spacing: 0.1rem;
  color: #4eb3e3;
  text-transform: uppercase;
}

.heading {
  margin-bottom: 1rem;
  text-align: left;
  font: normal 2rem/3rem CaveatBrush-Regular, sans-serif !important;
  letter-spacing: 0rem;
  color: #1f343e;
  text-transform: uppercase;
}

.text {
  width: 16rem;
  height: 5.6875rem;
  margin-bottom: 1rem;
  text-align: left;
  font: normal 1.25rem/2rem Noto Sans, sans-serif !important;
  letter-spacing: 0rem;
  color: #1f343e;
}

@media (max-width: 70rem /* 1120px */) {
  .container {
    flex-direction: column !important;
    height: 100%;
    margin: 0 auto;
    grid-row-gap: 1rem;
    -moz-row-gap: 1rem;
    row-gap: 1rem;
    &:first-child {
      height: 18.25rem !important;
      margin-bottom: 4rem;
    }
    &:nth-child(2) {
      flex-direction: column !important;
    }
  }
  .title {
    text-align: center;
  }
  .heading {
    text-align: center;
  }
  .text {
    text-align: center;
  }
}
