.logo {
  margin-bottom: 32px;
}
.text {
  width: 34rem;
  height: 5.875rem;
  margin-bottom: 46px;

  text-align: left;
  font: normal normal normal 16px/24px Noto Sans;
  letter-spacing: 0px;
  color: #1f343e;
}
