.logo {
  margin-bottom: 2rem;
}
.text {
  width: 34rem;
  height: 5.875rem;
  margin-bottom: 2.875rem;

  text-align: left;
  font: normal 1rem/1.5rem Noto Sans, sans-serif !important;
  letter-spacing: 0rem;
  color: #1f343e;
}

@media (max-width: 70rem) /* 1120px */ {
  .text {
    width: 311px;
    height: 10.375rem;
    margin-bottom: 1.875rem;
    text-align: left;
    font: normal 1rem/1.5rem Noto Sans, sans-serif !important;
    letter-spacing: 0rem;
    color: #1f343e;
  }
}
