.inputContainer {
  display: flex;
  align-items: center;
}

.iconContainer {
  display: flex;
  justify-content: center;
  width: 3.5rem;
  height: 4rem;
  margin-bottom: 1rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-left: 0.0625rem solid #1f343e;
  border-top: 0.0625rem solid #1f343e;
  border-right: none;
  border-bottom: 0.0625rem solid #1f343e;
  border-radius: 0.5rem 0rem 0rem 0.5rem;
}

.image {
  margin-top: 0.125rem !important;
}

.error {
  text-align: left;
  font: bold 0.75rem/1.5rem Noto Sans Bold, sans-serif !important;
  letter-spacing: 0rem;
  color: #ed6f82;
  margin-bottom: 0.4375rem;
}

@media (max-width: 70rem) /* 1120px */ {
  .iconContainer {
    height: 3.5rem;
  }

  .image {
    margin-top: 0 !important;
  }

  .error {
    position: absolute;
    z-index: 9999;
    top: 378px;
    padding: 0;
    margin: 0;
  }
}
