@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");

@font-face {
  font-family: "Gadugi";
  src: local("Gadugi Bold"), local("Gadugi-Bold"), url("/fonts/Gadugi-Bold.tff") format("tff"),
    url("/fonts/Gadugi-Bold.tff") format("tff"), url("/fonts/Gadugi-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
