@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/NotoSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans Bold";
  src: url("/fonts/NotoSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gadugi";
  src: local("Gadugi Bold"), local("Gadugi-Bold"), url("/fonts/Gadugi-Bold.tff") format("tff"),
    url("/fonts/Gadugi-Bold.tff") format("tff"), url("/fonts/Gadugi-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CaveatBrush-Regular";
  src: url("/fonts/CaveatBrush-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
