.title {
  margin-top: 0.2rem;
  margin-bottom: 1.625rem;
  text-align: left;
  letter-spacing: 0.1rem;
  color: #1f343e;
  font: bold 1.25rem/1.5rem Noto Sans Bold, sans-serif !important;
  text-transform: uppercase;
}
