.title {
  margin-top: 0.2rem;
  margin-bottom: 1.625rem;
  text-align: left;
  letter-spacing: 1.6px;
  color: #1f343e;
  font: normal normal bold 20px/24px Noto Sans;
  text-transform: uppercase;
}
